body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px;
  background-color: #f8f8f8;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}


ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 8px 0;
}

button {
  margin-left: 8px;
}

